.navbar-inverse{
    background-color: firebrick; 
}
#a-1{
    color: darkorange;
    font-size: 25px;
}
body{
    background-color: darkgray;
    background-image: url(IMG/001-subtle-light-pattern-background-texture-vol5.jpg);
    font-size: 20px;
}
#downloadbtn{
    border: 2px solid firebrick !important;
    height:100px !important;
    width:200px !important;
    color:firebrick !important;
    outline:0 !important;
    font-size: 20px !important; 
}
hr{
    border: 1px solid firebrick !important;  
}
h1{
    color: darkorange !important;
}
.pens, tr, th, td{
    border: 2px solid black !important;
    border-collapse: collapse !important;
}
th{
    width: 300px !important;
    text-align: center !important;
}
td{
   width: 300px !important;
   padding: 5px !important;
}
.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}
h2{
    color:#34ca78;  
}
.margin10{
     margin-bottom:10px; margin-right:10px;
}
.blogShort{
    border-bottom:1px solid black;
    width: 700px;
    float: 0;   
    /*height: 500px;*/
}
img{
    width: 120px;
    height: 120px;
}
.blog{
    width: 50%;
    height: 500px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 60%;
    margin: auto;
}
/*.item{
    width: 800px;
    height: 450px;   
}*/
#myCarousel{
    width: 750px;
    height: 450px;
    border: 2px solid white;
}